body {
  margin: 0px;
  background: linear-gradient(to top left, #18ceee, #5577e6);
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  margin-top: 20%;
}

/*
.shadow {
  background:
          linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );
} */

.popup-start {
  width: 90%;
  position: fixed;
  top: 30%;
  left: 5%;
}

.starter {
  background-color: white;
  border: 2px solid darkblue;
  width: 90%;
  margin: auto;
}

.starter p {
  font-size: 5rem;
  font-weight: 800;
  color: #5577e6;
  margin: auto;
  margin-top: 2%;
  width: 90%;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin-top: 5%;
  margin-bottom: 2%;
}
.start-button {
  background-color: royalblue;
  color: white;
  border: 2px solid darkblue;
  padding: 0.5rem;
  border-radius: 10px;
  margin-right: 2%;
}
.start-button:hover {
  cursor: pointer;
}

.popup-level {
  width: 90%;
  position: fixed;
  top: 30%;
  left: 5%;
}

.level {
  background-color: white;
  border: 2px solid darkblue;
  width: 90%;
  margin: auto;
}

.level-text {
  font-size: 5rem;
  font-weight: 800;
  color: lime;
  width: fit-content;
  margin: auto;
  margin-top: 2%;
}

.buttons {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.level-btn {
  color: white;
  padding: 0.5rem;
  border-radius: 6px;
  margin-right: 2%;
  width: 10rem;
  font-size: 1.5rem;
}

.level-btn-dur {
  background-color: green;
}

.level-btn-tres-dur {
  background-color: orange;
}

.level-btn-impossible {
  background-color: orangered;
}

.level-btn:hover {
  cursor: pointer;
}

.endgame-timer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 18rem;
  height: 6rem;
  border-radius: 20px;
  position: fixed;
  top: 3rem;
  right: 1rem;
  z-index: 4;
}

.timer-text {
  font-size: 2rem;
  font-weight: 200;
  height: min-content;
}

.timer {
  color: red;
  font-size: 4rem;
  font-weight: 900;
}

.card-container {
  position: relative;
  width: min-content;
  height: 16rem;
}

.card-container:hover {
  transform: scale(1.1);
}

.cardpick {
  margin-right: 0px;
}

.cardback {
  margin-left: 0px;
  transform: translateY(-102%);
  z-index: 1;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  width: min-content;
  margin: auto;
  margin-top: 15%;
}

.hidden {
  display: none;
}

.endgame {
  position: fixed;
  top: 45%;
  width: 100%;
}

.endgame-message {
  background-color: white;
  margin: auto;
  width: 82%;
}
.endgame p {
  font-size: 5rem;
  font-weight: 800;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: red;
  width: 90%;
  margin: auto;
}

.restart-button {
  background-color: red;
  color: white;
  border: 2px solid rgb(119, 15, 15);
  padding: 0.5rem;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 2%;
  width: 20%;
}
.restart-button:hover {
  cursor: pointer;
}

.explo {
  width: min-content;
  position: fixed;
  top: 7%;
  left: 25%;
  width: 50%;
}

.boum {
  transform: scale(1.7);
  transition: transform 4s ease;
}
